*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Montserrat, Poppins, sans-serif;
    width: 390px;
}


.offer{
    position: fixed;
    display: flex;
    width: 390px;
    height: 37px;
    background: linear-gradient(106.5deg, #69B1C9 11.42%, #6081C3 53.89%, #5558AF 95.29%);
    align-items: center;
}
.offer-text{
    font-family: Montserrat, serif;
    font-size: 13px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0;
    color: white;
    padding-left: 20px;
}