*{
    margin: 0;
    padding: 0;
    font-family: Montserrat, Poppins, sans-serif;
    /*width: 390px;*/
}
body{
    display: flex;
    flex-direction: column;
    position: relative;
}
header{
    position: relative;
}
.offer{
    position: relative;
    display: flex;
    width: 390px;
    height: 37px;
    background: linear-gradient(106.5deg, #69B1C9 11.42%, #6081C3 53.89%, #5558AF 95.29%);
    align-items: center;

}
.offer-text{
    font-family: Montserrat, serif;
    font-size: 13px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0;
    color: white;
    padding-left: 20px;
}
.header{
    position: relative;
    width: auto;
    display: flex;
    flex-direction: row;
    background: #000000;
    height: 48px;
    align-items: center;
}
.logo{
    display: flex;
    margin-left: 16px;
    margin-right: 60px;
    width: 32px;
    height: 32px;
}
.nav{
    display: flex;
    flex-direction: row;
    gap: 20px;
    z-index: 1;
    width: 280px;
}
.nav-text{
    font-family: Montserrat, serif;
    font-weight: 200;
    font-size: 12px;
    color: #ffffff;
    width: 100px;
}
#nav-text-1{
    width: 100px;
}
#nav-text-2{
    width: 60px;
}
#nav-text-3{
    width: 80px;
}
.preview{
    position: relative;
    width: auto;
    display: flex;
    flex-direction: row;
    height: 343px;
    background: #000000 url("photo.png");
}
.title-preview{
    margin-top: 20px;
    margin-left: 10px;
    width: 370px;
    height: 129px;
    display: flex;
    flex-direction: column;
}
.title-preview-main{
    font-family: Poppins, sans-serif;
    font-size: 32px;
    font-weight: 10;
    line-height: 35px;
    text-align: left;
    color: #ffffff;
}
.title-preview-additional{
    padding-top: 5px;
    font-family: Poppins, sans-serif;
    font-size: 14px;
    font-weight: 10;
    line-height: 19px;
    text-align: left;
    color: #ffffff;
}
.title-price{
    display: flex;
    flex-direction: row;
    gap: 20px;
    color: #ffffff;
    margin-top: 20px;
    width: 113px;
    height: 52px;
    border-radius: 30px;
    background: linear-gradient(181.2deg, rgba(11, 11, 11, 0.42) 1.01%, rgba(11, 11, 11, 0.98) 98.98%),
    linear-gradient(29.22deg, rgba(255, 255, 255, 0.05) 5.35%, rgba(255, 255, 255, 0.17) 91.84%);
}
.features{
    position: relative;
    display: flex;
    flex-direction: row;
    width: auto;
    height: 160px;
    background: linear-gradient(0deg, #0B0B0B, #0B0B0B),
    linear-gradient(4.46deg, rgba(255, 255, 255, 0.1) 4.17%, rgba(11, 11, 11, 0.1) 81.12%);
    border-radius: 0 0 30px 30px;
}
.boxes{
    margin-top: 10px;
    margin-left: 2px;
    margin-right: 2px;
    width: 120px;
    height: 118px;
    padding: 10px 4px 10px 4px;
    border-radius: 30px;
    justify-content: space-between;
    background: linear-gradient(180.19deg, rgba(255, 255, 255, 0.1) 0.16%, rgba(255, 255, 255, 0) 88.86%),
    linear-gradient(29.22deg, rgba(255, 255, 255, 0.35) 5.35%, rgba(255, 255, 255, 0) 91.84%);
    border: 1px solid;
    border-image-source: linear-gradient(29.22deg, rgba(255, 255, 255, 0.35) 5.35%, rgba(255, 255, 255, 0) 91.84%);
    display: flex;
    flex-direction: column;
    color: #ffffff;
}
